Django>=5.0,<6.0
djangorestframework
django-cors-headers
psycopg2-binary
redis
django-allauth
djangorestframework-simplejwt
uvicorn
gunicorn
python-dotenv
dj-database-url
reportlab
django-filter
celery
django-celery-beat
Pillow
django-simple-history
pandas>=2.0.0
chardet>=5.0.0
openpyxl>=3.1.0
xlrd>=2.0.1
pyxlsb>=1.0.10
